In [7]:
#list and its default function


lst=[1,2,3,4,5]
lst.sort()
print(lst)

[1, 2, 3, 4, 5]

In [8]:
lst=["hi",1,2.3,[3,4,5]]
lst.reverse()

[[3, 4, 5], 2.3, 1, 'hi']

In [10]:
lst1=["muskan","harsh",4,5,6]
lst1.remove("harsh")
print(lst1)

['muskan', 4, 5, 6]

In [15]:
lst1=["muskan","harsh",4,5,6]
lst1.pop()
print(lst1)

['muskan', 'harsh', 4, 5]

In [16]:
lst1.pop(2)
print(lst1)

['muskan', 'harsh', 5]

In [22]:
lst1.index(5)
print(lst1)

['muskan', 'harsh', 5]

In [23]:
lst1.append("dimple")
print(lst1)

['muskan', 'harsh', 5, 'dimple']

In [39]:
#dictionary and its default function

#access dictionary
dict={'name' : 'zara' , 'age':'12' , 'class':'first'}
print( dict['name'] )
#add new word in dictionary
dict["school"]= 'bal bhavan public school'
print(dict['school'])

zara
bal bhavan public school

In [45]:
#tuple and its default function
#access tuple
tup1 = ('physics', 'chemistry', 1997, 2000);
tup2 = (1, 2, 3, 4, 5, 6, 7 );
print ("tup1[0]: ", tup1[0])
print ("tup2[1:5]: ", tup2[1:5])

#update tuple
tup1 = (12, 34.56);
tup2 = ('abc', 'xyz');
tup3 = tup1 + tup2;
print (tup3)

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)
(12, 34.56, 'abc', 'xyz')

In [50]:
#delete tuple element
tup1 = ('physics', 'chemistry', 1997, 2000);
print (tup1)
       
del tup1;
print('after deleting')
print(tup1)

('physics', 'chemistry', 1997, 2000)
after deleting

NameError: ignored

In [52]:
#string and its default methods

#1 capitalise first letter of string
str = "this is string example....wow!!!";
print("str.capitalize() : ", str.capitalize())

str.capitalize() :  This is string example....wow!!!

In [53]:
#2.isalnum()
str = "this2009";  # No space in this string
print(str.isalnum())

str = "this is string example....wow!!!";
print(str.isalnum())

True
False

In [55]:
#3.isalpha() 
str = "this";  # No space & digit in this string
print( str.isalpha())

str = "this is string example....wow!!!";
print(str.isalpha())

True
False